.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer .footer-links {
  margin: 10px 0;
}
.footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer .footer-links:first-child {
  padding-left: 0;
}
