
.navbar-inverse .navbar-brand {
	font-family: 'Mystery Quest', cursive;
	font-size: 22px;
	color: hsl(0, 0%, 90%);
}

.navbar-inverse {
    background-color: hsla(140, 100%, 22%, 0.8);
    border-color: hsla(140, 100%, 20%, 0.8);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(220, 220, 220);
}
.navbar-inverse .navbar-nav>li.active>a {
    background-color: hsla(140, 100%, 30%, 0.8);
}

.navbar-inverse .navbar-nav>li.active>a:hover {
    color: white;
    background-color: hsla(140, 80%, 50%, 0.8);
}

.navbar-nav>li>div {
    padding-top: 15px;
}

